<div align="center" class="intro">
  <p>I’m a Brazilian living in Aveiro, Portugal — and for the past eight years I’ve been designing <a href="https://sketch.com/">Sketch</a>, in Sketch.</p>
  <p>Since 2008, I have worked with numerous independent developers and organizations, including Paramount Pictures, Snowman, SproutCore, Acrylic, AppZapper, The Echo Nest, Taptivate, SuperMegaUltraGroovy, Vemedio, and many others to bring products to millions across Earth.</p>
  <br />
  <p>
    <a class="cta arrow-tr" href="&#109;&#097;&#105;&#108;&#116;&#111;&#58;s&#105;t&#101;&#064;m&#109;a&#114;&#102;&#105;&#108;&#046;c&#111;&#109;">Email</a> 
    <a class="cta arrow-tr " href="https://x.com/marcelomarfil">Twitter</a>
    <a class="cta arrow-tr " href="https://www.linkedin.com/in/marcelo-marfil">LinkedIn</a>
</div>

<!-- disable

<hr />

<h2>Latest Stuff</h2>

<ul class="work-body">
  <li>
    <img src="{{ site.url }}/assets/images/work/w-gametrack.png" />
    <p><a href="http://gametrack.app">GameTrack</a><span class="tertiary"> · The Question Mark & The Brick</span></p>
  </li>
  <li>
    <img src="{{ site.url }}/assets/images/work/w-apollo-palette.png" />
    <p><a href="https://apolloapp.io">Apollo</a><span class="tertiary"> · Palette</span></p>
  </li>
  <li>
    <img src="{{ site.url }}/assets/images/work/w-clear-luminova.png" />
    <p><a href="https://www.useclear.com">Clear</a><span class="tertiary"> · Luminova Icon & Theme</span></p>
  </li>
  <li>
    <img src="{{ site.url }}/assets/images/work/w-clear-plumbers.png" />
    <p><a href="https://www.useclear.com">Clear</a><span class="tertiary"> · Plumbers Theme Kit</span></p>
  </li>
  <li>
    <img src="{{ site.url }}/assets/images/work/w-slashboard-icons.png" />
    <p><a href="#">Slashboard</a><span class="tertiary"> · Interface Icons</span></p>
  </li>
</ul>

<a href="#" class="cta arrow-right archive-spacer">View More Work</a>

<hr />

<h2>Latest Posts</h2>

<ul id="archive-list">
  {% for post in site.posts limit:5 %}
  <li>
    <article>
      <header>
        <div>
          <a href="{{ "/" | relative_url  }}{{ post.url | remove_first: '/' }}">
            <h3>{{ post.title }}</h3>
            <time class="dates" datetime="{{ post.date }}" class="dt-published">{{ post.date | date:"%b %-d, %Y" }}</time>
          </a>
        </div>
      </header>      
    </article>
  </li>
  {% endfor %}
</ul>

<a href="archive/" class="cta arrow-right archive-spacer">View All Posts</a>

-->