<nav id="post-nav">
  {% if paginator.previous_page %}
  <span class="prev">
    {% if paginator.previous_page == 1 %}
    <a href="{{ "/" | relative_url  }}" class="cta arrow-left">Newer Posts
    </a>
    {% else %}
    <a href="{{ paginator.previous_page_path }}" class="cta arrow-left">Newer Posts</a>
    {% endif %}
  </span>
  {% endif %}
{% if paginator.next_page %}
<span class="next">
  <a href="{{ paginator.next_page_path }}" class="cta arrow-right">Older Posts</a>
</span>
{% endif %}
</nav>
