html {
	background: #fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e9f0f1)) no-repeat;
	background: -moz-linear-gradient(-90deg, #fff, #e9f0f1) no-repeat;
	height: 100%;
}

div#shelf {
	background: url(../img/shelf.png) no-repeat;
	text-indent: -9999px;
	width: 520px; height: 49px;
	margin: 350px auto 0;
}

h2 {
	width: 342px;
	margin: 115px auto 0;
	text-align: center;
	color: #9cacae;
	font-family: 'Old Standard TT', serif;
	font-weight: 400;
	letter-spacing: -0.06em;
	word-spacing: 0em;
	line-height: 1.25em;
	-webkit-font-smoothing: antialiased;
	font-size: 16px;
	font-style: italic;
}

h3 {
	width: 342px;
	margin: 5px auto 0;
	text-align: center;
	color: #9cacae;
	font-family: 'Old Standard TT', serif;
	font-weight: 400;
	letter-spacing: -0.05em;
	word-spacing: 0em;
	line-height: 1.25em;
	-webkit-font-smoothing: antialiased;
	font-size: 12px;
	font-style: normal;
}

h4 {
	font-family: 'Droid Serif', serif;
	font-size: 11px;
	font-style: normal;
	font-weight: 400;
	letter-spacing: 0em;
	word-spacing: 0em;
	line-height: 1.27em;
	margin: 5px auto 0;
	text-align: center;
	color: #808080;
	-webkit-font-smoothing: antialiased;
}

ul#items {
	list-style: none;
}

ul#items li, ul#items li a {
	display: inline-block;
	list-style: none;
	float: left;
}

ul#items li#blog {
	margin-left: 129px; 
	margin-top: -54px;
	padding: 0;
}
ul#items li#blog a {
	background: url(../img/frap.png) top left no-repeat;
	width: 32px; height: 65px;
	text-indent: -9999px;
}

ul#items li#work {
	margin-left: 22px; 
	margin-top: -66px;
	padding: 0;
}
ul#items li#work a {
	background: url(../img/macbook.png) top left no-repeat;
	width: 157px; height: 81px;
	text-indent: -9999px;
}

ul#items li#contact {
	margin-left: 351px; 
	margin-top: -40px;
	padding: 0;
}
ul#items li#contact a {
	background: url(../img/envelope.png) top left no-repeat;
	width: 70px; height: 34px;
	text-indent: -9999px;
}

div#bln-blog {
	background: url(../img/bln-blog.png) top left no-repeat;
	width: 169px;
	height: 64px;
	position: fixed;
	margin-left: 61px;
	margin-top: -120px;
}

div#bln-work {
	background: url(../img/bln-work-temp.png) top left no-repeat;
	width: 209px;
	height: 68px;
	position: fixed;
	margin-left: 155px;
	margin-top: -145px;
}

div#bln-contact {
	background: url(../img/bln-contact.png) top left no-repeat;
	width: 109px;
	height: 46px;
	position: fixed;
	margin-left: 330px;
	margin-top: -83px;
}