/*-----------------------------------------------------------------------
Marcelo Marfil Style Sheet (http://marfil.me)

version:	1.0
date:		27th November 2009
author:		Sam Brown
email:		sam@massiveblue.com
website:	http://www.massiveblue.com
/*-------------------------------------------------------------------- */

/* !Global Reset */
/*-------------------------------------------------------------------- */
* {font-size: 100.01%; margin: 0; padding: 0;}
html {font-size: 62.5%;}
h1, h2, h3, h4, h5, h6, p, blockquote, form, fieldset, table, ul, ol {
	margin: 0 0 1em;
}

/* !Fixers */
/*-------------------------------------------------------------------- */
* a {position: relative;} /* Gets links displaying over a PNG background */
a {outline: none;} /* Gets rid of Firefox's dotted borders */
a img {border: none;} /* Gets rid of IE's blue borders */
table {border-collapse: collapse; border-spacing: 0;}
fieldset, img {border: 0;}
q:before, q:after {content: '';}

/* !Base Elements */
/*-------------------------------------------------------------------- */
a, a:link, a:visited, a:active {color: #d9dce0; text-decoration: none;}
a:hover {color: #9098a4; text-decoration: none;}
abbr, acronym {font-style: normal; border-bottom: dotted 1px #666; cursor: help;}
blockquote {border-left: .25em solid #e3e3e3; margin-left: 1.5em; padding-left: 1.5em;}
body {
	background: #21252b url('../images/bg.png') top left repeat;
	color: #9098a4;
	font: 10px/200% Helvetica, Arial, sans-serif;
	-webkit-text-stroke:1px transparent;
}
code {font: 1.1em monaco, courier, monospace;}
h1 {margin: 0;}
h2 {margin: 0;}
hr {border: none; height: 1px; background: #eee; margin: 1em 0;}
ol, ul {margin-left: 2em;}

/* !Wrap */
/*-------------------------------------------------------------------- */
.wrap {
	margin: 0 auto;
	position: relative;
	width: 760px;
}

/* !Masthead */
/*-------------------------------------------------------------------- */
#masthead {
	background: url('../images/bg-masthead.png') top left repeat-x;
	height: 121px;
	margin-bottom: 20px;
}
	#masthead h1 {
		padding-top: 28px;
		text-align: center;
	}
	#masthead h1 a {
		background: url('../images/logo.png') top left no-repeat;
		display: block;
		height: 70px;
		margin: 0 auto;
		opacity: 1;
		text-indent: -9999px;
		width: 145px;
	}
	#masthead h1 a:hover {
		opacity: 0.8;
	}
	
	#about {
		position: absolute;
		top: 39px;
		right: 10px;
	}
	#about a {
		height: 42px;
		text-indent: -9999px;
		width: 42px;
	}
	
	#about-me {
		background: url('../images/bg-about-temp.png') top left no-repeat;
		height: 313px;
		position: absolute;
		top: 86px;
		text-shadow: #000 0 1px 0;
		right: -101px;
		width: 263px;
		z-index: 100;
	}
	
		#about-me h3 {
			color: #fff;
			font-size: 18px;
			text-align: center;
			margin: 25px 0 0;
		}
		#about-me h4 {
			color: #b2b2b2;
			font-size: 12px;
			text-align: center;
			margin: 0;
		}
		
		dl {
			font-size: 11px;
			line-height: 21px;
			margin-top: 15px;
			overflow: hidden;
		}
		dt {
			color: #b2b2b2;
			float: left;
			text-align: right;
			padding-right: 20px;
			width: 60px;
		}
		dd {
			color: #d9dce0;
			float: left;
			font-weight: bold;
			width: 183px;
		}
		
		#about-me a {-webkit-transition-duration: .33s; -webkit-transition-property: color, background;}
		
		a#vcard {
			background: url('../images/button-vcard.png') top left no-repeat;
			display: block;
			font-size: 11px;
			font-weight: bold;
			height: 24px;
			margin: 24px auto 0;
			padding-top: 2px;
			text-align: center;
			width: 145px;
		}

/* !Banner */
/*-------------------------------------------------------------------- */
#banner {
	margin-bottom: 50px;
}

	/* Coda Slider */
	.coda-slider-wrapper {margin-bottom: 50px;}
	.coda-slider {margin-bottom: 30px;}
	.title {display: none;}
	
	/* Use this to keep the slider content contained in a box even when JavaScript is disabled */
	.coda-slider-no-js .coda-slider {
		height: 401px;
		overflow: auto !important;
	}
	
	/* Change the width of the entire slider (without dynamic arrows) */
	.coda-slider, .coda-slider .panel {width: 760px;} 
	
	/* Change margin and width of the slider (with dynamic arrows) */
	.coda-slider-wrapper.arrows .coda-slider, .coda-slider-wrapper.arrows .coda-slider .panel {width: 760px;}
	
	/* Tab nav */
	.coda-nav ul li a.current {background: url('../images/slider-on.png') top left no-repeat;}
	
	/* Panel padding */
	.coda-slider .panel-wrapper {}
	
	/* Preloader */
	.coda-slider p.loading {
		padding: 20px;
		text-align: center;
	}

	/* Tabbed nav */
	#coda-nav-1 {background: url('../images/shelf.png') bottom left no-repeat;}
	.coda-nav ul {
		clear: both;
		display: block;
		margin: 0 auto;
		overflow: hidden;
		padding-left: 11px;
	}
	.coda-nav ul li {display: inline;}
	.coda-nav ul li a {
		background: url('../images/slider-off.png') top left no-repeat;
		display: block;
		float: left;
		height: 15px;
		margin-right: 1px;
		text-indent: -9999px;
		width: 15px;
	}
	
	/* Miscellaneous */
	.coda-slider-wrapper { clear: both; overflow: auto }
	.coda-slider { float: left; overflow: hidden; position: relative }
	.coda-slider .panel { display: block; float: left }
	.coda-slider .panel-container { position: relative }
	.coda-nav-left, .coda-nav-right { float: left }
	.coda-nav-left a, .coda-nav-right a { display: block; text-align: center; text-decoration: none }


/* !iPhone Icons */
/*-------------------------------------------------------------------- */
#iphoneicons {
	overflow: hidden;
}
#iphoneicons h2 {
	background: url('../images/iphoneicons.png') top left no-repeat;
	height: 24px;
	margin: 0 auto 20px;
	text-indent: -9999px;
	width: 162px;
}
	.icon {
		float: left;
		height: 144px;
		margin: 0 10px 10px 0;
		width: 143px;
	}
	.first {margin-left: 2px;}
	.last {margin-right: 0;}

/* !Footer */
/*-------------------------------------------------------------------- */
#footer {
	margin: 50px 0;
	text-align: center;
	text-shadow: #000 0 1px 0;
}

/* !Other */
/*-------------------------------------------------------------------- */
.clear {clear:both;}













































