/* Reset */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}
*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* Clearfix */

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.hidden {
  display: none;
}

/* Spacing */

.highlight, .post h1, h2, h3, p, .post-body ul, .dates, .post-body li, .bio li, video, pre ::before {
	margin-top: 1em;
}

/* Fonts */

@font-face {
  font-display: swap;
  font-family: "GTW"; 
  src: url('../fonts/GT-W-Regular.woff2') format('woff2'), url('../fonts/GT-W-Regular.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-display: swap;
  font-family: "GTW"; 
  src: url('../fonts/GT-W-Regular-Oblique.woff2') format('woff2'), url('../fonts/GT-W-Regular-Oblique.woff') format('woff');
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-display: swap;
  font-family: "GTW"; 
  src: url('../fonts/GT-W-Medium.woff2') format('woff2'), url('../fonts/GT-W-Medium.woff') format('woff');
  font-weight: 500;
}

@font-face {
  font-display: swap;
  font-family: "GTW"; 
  src: url('../fonts/GT-W-Medium-Oblique.woff2') format('woff2'), url('../fonts/GT-W-Medium-Oblique.woff') format('woff');
  font-style: italic;
  font-weight: 500;
}

@font-face {
  font-display: swap;
  font-family: "GTW"; 
  src: url('../fonts/GT-W-Bold.woff2') format('woff2'), url('../fonts/GT-W-Bold.woff') format('woff');
  font-weight: 700;
}

@font-face {
  font-display: swap;
  font-family: "GTW"; 
  src: url('../fonts/GT-W-Bold-Oblique.woff2') format('woff2'), url('../fonts/GT-W-Bold-Oblique.woff') format('woff');
  font-style: italic;
  font-weight: 700;
}

/* Base */

:root {
  --accent-color: 238, 71, 146;
  --accent-dark: rgba(var(--accent-color), 1);
  --accent-medium: rgba(var(--accent-color), 0.4);
  --accent-light: rgba(var(--accent-color), 0.1);
  --black-color: 0, 0, 0;
  --primary: rgba(var(--black-color), 0.85);
  --secondary: rgba(var(--black-color), 0.60);
  --tertiary: rgba(var(--black-color), 0.35);
  --quaternary: rgba(var(--black-color), 0.1);
  --quinary: rgba(var(--black-color), 0.05);
}

::selection {
  background-color: var(--accent-light);
}

input:focus {
  outline: none;
}

video {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.07), 0 15px 25px rgba(0, 0, 0, 0.07);
}

html, body {
	height: 100%;
}

body {
  font: 17px "GTW", system-ui, sans-serif;
  color: var(--secondary);
  font-weight: 400;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  display: block !important;
}

/* Wrapper */

#wrapper {
  max-width: 520px;
  margin: 0 auto;
}

/* Nav */

nav.main-nav {
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-right: 20px;
  font-size: 14px;
  width: 100%;
}

nav.main-nav li {
  display: inline;
  list-style-type: none;
  margin-left: 20px;
  font-weight: 400;
}

.menu {
  position: absolute;
  z-index: 1000;
  top: 63px;
  right: 20px;
  padding: 10px 0;
  border-radius: 16px;
  background-color: var(--accent-dark);
  box-shadow: 0 8px 50px var(--accent-light), 0 2px 3px var(--accent-medium);
  pointer-events: none;
  opacity: 0;
  transition: all .25s ease-in-out;
  transform: translate(0, -7px);
}

.menu-footer {
  position: absolute;
  z-index: 1000;
  margin-top: -158px;
  margin-left: -45px;
  padding: 10px 0;
  border-radius: 16px;
  background-color: var(--accent-dark);
  box-shadow: 0 8px 50px var(--accent-light), 0 2px 3px var(--accent-medium);
  pointer-events: none;
  opacity: 0;
  transition: all .25s ease-in-out;
  transform: translate(0, 7px);
}

.menu.show, .menu-footer.show {
  pointer-events: auto;
  opacity: 1;
  transform: translate(0, 0);
}

.menu li, .menu-footer li {
  list-style-type: none;
  height: 40px;
  margin: 0px 10px 0 10px;
  padding: 0 10px;
  transition: all .25s;
  font-weight: 500;
}

.menu li:hover, .menu-footer li:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 6px;
}

.menu li a, .menu-footer li a {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 40px;
  color: white;
  text-decoration: none;
  box-shadow: none;
}

.menu li a:hover, .menu-footer li a:hover {
  box-shadow: none;
}

.menu img.icons, .menu-footer img.icons {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

/* Profile */

header a, header a:hover {
  box-shadow: none;
}

header p {
  color: var(--tertiary);
  margin-top: 0;
  font-weight: 400;
}

#wrapper p:first-child {
  margin-top: 0;
}

.profile #wrapper {
  height: 300px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile #avatar {
  display: inline-block;
  background-color: var(--accent-dark);
  width: 80px;
  height: 80px;
  margin-bottom: 1em;
  border-radius: 40px;
  box-shadow: 0 8px 50px var(--accent-light), 0 2px 3px var(--accent-medium);
}

.profile .static {
  z-index: 400;
  width: 80px;
  height: 80px;
  display: none;
}

.profile .globe {
  position: absolute;
  display: block;
  z-index: 100;
  margin-top: 12px;
  margin-left: 12px;
  width: 56px;
  height: 56px;
  -webkit-animation-name: globe;
  -webkit-animation-duration: 15s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50%;
}

@-webkit-keyframes globe {
  0% {
    -webkit-transform: scaleX(1) scaleY(1); }
  10% {
    -webkit-transform: scaleX(1) scaleY(1); }
  10.5% {
    -webkit-transform: scaleX(1.3) scaleY(0.1); }
  11% {
    -webkit-transform: scaleX(1) scaleY(1); }
  40% {
    -webkit-transform: scaleX(1) scaleY(1); }
  40.5% {
    -webkit-transform: scaleX(1.3) scaleY(0.1); }
  41% {
    -webkit-transform: scaleX(1) scaleY(1); }
  70% {
    -webkit-transform: scaleX(1) scaleY(1); }
  70.5% {
    -webkit-transform: scaleX(1.3) scaleY(0.1); }
  71% {
    -webkit-transform: scaleX(1) scaleY(1); }
  100% {
    -webkit-transform: scaleX(1) scaleY(1); } }

.profile .shadow {
  position: absolute;
  display: block;
  z-index: 200;
  margin-top: 12px;
  margin-left: 12px;
  width: 56px;
  height: 56px;
  -webkit-animation-name: shadow;
  -webkit-animation-duration: 15s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50%;
}

@-webkit-keyframes shadow {
  0% {
    -webkit-transform: scaleX(1) scaleY(1); }
  10% {
    -webkit-transform: scaleX(1) scaleY(1); }
  10.5% {
    -webkit-transform: scaleX(1.3) scaleY(0.1); }
  11% {
    -webkit-transform: scaleX(1) scaleY(1); }
  40% {
    -webkit-transform: scaleX(1) scaleY(1); }
  40.5% {
    -webkit-transform: scaleX(1.3) scaleY(0.1); }
  41% {
    -webkit-transform: scaleX(1) scaleY(1); }
  70% {
    -webkit-transform: scaleX(1) scaleY(1); }
  70.5% {
    -webkit-transform: scaleX(1.3) scaleY(0.1); }
  71% {
    -webkit-transform: scaleX(1) scaleY(1); }
  100% {
    -webkit-transform: scaleX(1) scaleY(1); } }

.profile .eyeball {
  position: absolute;
  display: block;
  z-index: 300;
  margin-top: 35px;
  margin-left: 35px;
  width: 23px;
  height: 23px;
  -webkit-animation-name: eyeball;
  -webkit-animation-duration: 15s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50%;
}

@-webkit-keyframes eyeball {
  0% {
    -webkit-transform: scaleX(1) scaleY(1); margin-left: 35px; margin-top: 35px; }
  10% {
    -webkit-transform: scaleX(1) scaleY(1); margin-left: 35px; margin-top: 35px; }
  10.5% {
    -webkit-transform: scaleX(1.3) scaleY(0.1); margin-left: 35px; margin-top: 33px; }
  11% {
    -webkit-transform: scaleX(1) scaleY(1); margin-left: 35px; margin-top: 35px; }
  40% {
    -webkit-transform: scaleX(1) scaleY(1); margin-left: 35px; margin-top: 35px; }
  40.5% {
    -webkit-transform: scaleX(1.3) scaleY(0.1); margin-left: 23px; margin-top: 33px; }
  41% {
    -webkit-transform: scaleX(1) scaleY(1); margin-left: 23px; margin-top: 35px; }
  70% {
    -webkit-transform: scaleX(1) scaleY(1); margin-left: 23px; margin-top: 35px; }
  70.5% {
    -webkit-transform: scaleX(1.3) scaleY(0.1); margin-left: 35px; margin-top: 33px; }
  71% {
    -webkit-transform: scaleX(1) scaleY(1); margin-left: 35px; margin-top: 35px; }
  100% {
    -webkit-transform: scaleX(1) scaleY(1); margin-left: 35px; margin-top: 35px; }
}

.bio {
  padding-top: 165px;
}

/* Link style */

a {
  text-decoration: none;
  color: var(--secondary);
  box-shadow: inset 0 -2px 0 var(--accent-medium);
  transition: all .35s;
  transition-timing-function: cubic-bezier(.7, 0, .3, 1);
  padding-bottom: 1px;
}

a:hover {
  box-shadow: inset 0 -25px 0 var(--accent-light);
}

a.cta {
  font-size: 14px;
  font-weight: 500;
  color: var(--accent-dark);
  padding: 6px 14px 7px 14px;
  border: 1px solid var(--accent-light);
  border-radius: 20px;
  box-shadow: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a.cta:hover {
  background: var(--accent-light);
  color: var(--accent-dark);
  border: 1px solid transparent;
  box-shadow: none;
}

h1 a, h2 a, h3 a, h4 a {
  color: var(--primary);
}

.arrow-left::before {
  content: '← ';
  font: 12px "system-ui", -apple-system, Helvetica, Arial, sans-serif;
  font-weight: 600;
  width: 12px;
  height: 18px;
  display: flex;
  align-items: center;
  display: inline;
}

.arrow-right::after {
  content: ' →';
  font: 12px "system-ui", -apple-system, Helvetica, Arial, sans-serif;
  font-weight: 600;
  width: 12px;
  height: 18px;
  display: flex;
  align-items: center;
  display: inline;
}

.arrow-tr::after {
  content: ' ↗';
  font: 12px "system-ui", -apple-system, Helvetica, Arial, sans-serif;
  font-weight: 600;
  width: 12px;
  height: 18px;
  display: flex;
  align-items: center;
  display: inline;
}

.arrow-right-before::before {
  content: '→ ';
  font: 12px "system-ui", -apple-system, Helvetica, Arial, sans-serif;
  font-weight: 600;
  width: 12px;
  height: 18px;
  display: flex;
  align-items: center;
  display: inline;
}

/* Typography */

b, strong {
  font-weight: 700;
}
em, i {
  font-style: italic;
}

p, li {
  line-height: 1.7;
}

h1, h2, h3, h4 {
  color: var(--primary);
}

h1 {
  font-size: 32px;
  font-weight: 700;
  letter-spacing: -.02em;
	line-height: 1.1;
}

h2 {
  font-size: 26px;
  font-weight: 700;
  letter-spacing: -.01em;
	line-height: 1.2;
}

h3 {
  font-size: 21px;
  font-weight: 500;
  letter-spacing: -.005em;
	line-height: 1.3;
}

.small {
  font-size: 14px;
  display: block;
}

code.highlighter-rouge {
  background-color: #F5F5F5;
  border-radius: 5px;
  display: inline-block;
  padding: 1px 6px;
  color: #7F7F7F;
}

/* Home */

.content {
  padding-top: 50px;
  padding-bottom: 20px;
}

.work-body img {
  margin-top: 30px;
}

.work-body li {
  list-style-type: none !important;
}

.work-body img {
  display: block;
  border-radius: 3px;
  width: auto;
}

.work-body p {
  margin-top: 7px;
}

.tertiary {
  color: var(--tertiary);
}

/* Post */

.post-body ul {
  padding-left: 30px;
}

.post-body li {
  list-style-position: outside;
  list-style-type: circle !important;
}

.post-body img {
  display: block;
  border-radius: 3px;
  width: auto;
}

img[src*="#shadow"] {
  display: block;
  border-radius: 3px;
  max-height: 550px;
  width: auto;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.17), 0 15px 25px rgba(0, 0, 0, 0.17);
}

.post-body .image-container {
  display: block;
  border-radius: 3px;
  width: 100%;
  background: rgba(0, 0, 0, 0.03);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.post header {
  text-align: center;
}

blockquote {
  padding-left: 15px;
  border-left: 2px solid var(--quaternary);
  opacity: 0.8;
  font-style: italic;
  margin: 0 20px;
}

hr {
  border: 0;
  height: 1px;
  background: var(--quinary);
  width: 50%;
  margin: 75px auto;
}

span.code { font-family:Menlo, Monaco, Courier; background-color:var(--quaternary); }

pre  {
  font-family:Menlo, Monaco, Courier;
  white-space:pre-wrap;
  padding:20px;
  background-color:#fdfdfd;
  overflow:auto;
  border-radius: 5px;
  background: #272b2d;
  font-family: "Source Code Pro",Menlo,monospace;
  line-height: 1.5em;
  font-weight: 500;
  color: #d0d4d7;
}

table {
  width: 100%;
  margin: 40px 0;
  border-collapse: collapse;
  line-height: 1.5em;
}

th,td {
  text-align: left;
  padding-right: 20px;
  vertical-align: top;
}

table td,td {
  border-spacing: none;
  border-style: solid;
  padding: 10px 15px;
  border-width: 1px 0 0 0;
}

tr>td {
  border-top: 1px solid #eaeaea;
}

tr:nth-child(odd)>td {
  background: #fcfcfc;
}

thead th,th {
  text-align: left;
  padding: 10px 15px;
  height: 20px;
  font-weight: bold;
  color: #444;
  border-bottom: 1px solid #dadadc;
  cursor: default;
  white-space: nowrap;
}

img {
  width: 100%;
  max-width: 100%;
}

ul   {
  margin: 0;
  padding: 0;
}

li  {
  list-style-type: circle;
  list-style-position: inside;
}

/* Post List */

#post-list li {
  list-style-type: none;
}

#post-list li:last-child {
  margin-bottom: 0;
}

/* Archive List */

#archive-list li {
  list-style-type: none;
}

#archive-list li:last-child {
  margin-bottom: 0;
}

#archive-list hr {
  border: 0;
  height: 1px;
  background: var(--quinary);
  width: 100%;
  margin: 15px auto;
}

#archive-list hr:last-child {
  display: none;
}

.archive-spacer {
  display: inline-block;
  margin-top: 35px;
}

/* Footer */

footer #wrapper {
  margin: 0 auto;
  text-align: center;
  padding: 55px 0;
}

#footer {
  text-align: center;
}

#footer a {
  color: var(--primary);
  font-size: 14px;
  font-weight: 500;
}

#footer li {
  display: inline;
  padding: 0 10px;
}

/* Post Page */

#header {
  border-bottom: 1px solid var(--quaternary);
}

h2.headline {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 400;
}

.post {
  margin-top: 169px;
}

/* Archive Page */

.archive {
  margin-top: 169px;
  margin-bottom: 40px;
}

/* Post Navigation */

#post-meta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  font-weight: bold;
  border-top: 1px solid var(--quaternary);
  margin-top: 55px;
  height: 120px;
  border-bottom: 1px solid var(--quaternary);
}

#post-meta a {
  box-shadow: inset 0 0 0;
}

#post-meta div span {
  color: var(--tertiary);
  font-weight: 400;
  display: block;
}

#post-meta div span.dark {
  color: var(--primary);
  font-weight: 700;
}

#post-meta div {
  float: left;
}

#post-meta .dark {
	padding-top: 2px;
}

#post-meta img.avatar {
  height: 36px;
  width: 36px;
  float: left;
  margin-right: 10px;
  border-radius: 50%;
  box-shadow: 0 8px 50px var(--accent-light), 0 2px 3px var(--accent-medium);
}

#post-nav {
  text-align: center;
  padding-top: 20px;
  font-size: 14px;
  font-weight: 500;
  margin-top: 40px;
}

#post-nav span {
  position: relative;
}

#post-nav span.prev {
  float: left;
}

#post-nav span.next {
  float: right;
}

/* Others */

.dates {
  font-weight: 500;
  font-size: 13px;
  color: var(--tertiary);
  width: 100%;
  text-transform: uppercase;
  padding-top: 5px;
  letter-spacing: .02em;
}

/* Form */

#search input.field {
  font: 14px "GTW", "-apple-system", BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  color: var(--secondary);
  width: 270px;
  height: 34px;
  font-weight: 400;
  padding-left: 12px;
  border: 2px solid rgba(255, 0, 0, 0);
  background-color: var(--quinary);
  margin-top: 20px;
  border-radius: 17px;
  -webkit-appearance: none;
  transition: all .35s;
}

#search input {
  padding-bottom: 2px;
}

#search input.field:focus {
  border: 2px solid var(--accent-medium);
  background-color: #fff;
}

/* Media Queries */

@media screen and (max-width: 540px) {

  #wrapper {
    margin: 25px;
  }
  
  .content {
    padding-top: 0px;
  }

  .profile #wrapper {
    height: 250px;
  }

  .bio {
    padding-top: 140px;
  }

  .post {
    margin-top: 169px;
  }

  #post-meta {
    padding: 30px 0;
    margin-top: 50px;
  }

  .post-body .image-container {
    padding: 25px;
  }


}
