<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta content="{{ site.author }}" name="author">
  <meta content="{{ site.description }}" name="description">
  <meta property="og:description" content="Words" />
  <meta name="twitter:description" content="Words" />
  <meta property="og:image" content="{{ site.url}}/assets/images/OG.png" />
  <meta name="twitter:image" content="{{ site.url }}/assets/images/OG.png" />
  <meta name="twitter:card" content="summary" />
  <meta property="og:url" content="{{ site.url }}" />
  <meta name="twitter:url" content="{{ site.url }}" />
  <meta name="twitter:site" content="@MarceloMarfil" />
  <title>{{ site.title }}</title>
  <link rel="preload" href="/assets/fonts/GT-W-Regular.woff2" as="font" type="font/woff2" crossorigin="anonymous"/>
  <link rel="preload" href="/assets/fonts/GT-W-Regular-Oblique.woff2" as="font" type="font/woff2" crossorigin="anonymous"/>
  <link rel="preload" href="/assets/fonts/GT-W-Medium.woff2" as="font" type="font/woff2" crossorigin="anonymous"/>
  <link rel="preload" href="/assets/fonts/GT-W-Medium-Oblique.woff2" as="font" type="font/woff2" crossorigin="anonymous"/>
  <link rel="preload" href="/assets/fonts/GT-W-Bold.woff2" as="font" type="font/woff2" crossorigin="anonymous"/>
  <link rel="preload" href="/assets/fonts/GT-W-Bold-Oblique.woff2" as="font" type="font/woff2" crossorigin="anonymous"/>
  <link href="/assets/css/style.css" rel="stylesheet">
  <link href="/assets/css/highlight.css"rel="stylesheet">
  <link rel="icon" type="image/png" href="/assets/images/Favicon.png">
  <link rel="apple-touch-icon-precomposed" href="/assets/images/Icon.png">
</head>
<body style="display: none">
  <div class="content">
    <div class="profile">
      <section id="wrapper">
        <header class="h-card">
          <div id="avatar">
            <a href="/">
              <img class="static u-photo" src="{{ "/" | relative_url  }}assets/images/Icon.png" />
              <img class="eyeball" src="{{ "/" | relative_url  }}assets/images/eyeball.svg"/>
              <img class="shadow" src="{{ "/" | relative_url  }}assets/images/shadow.svg"/>
              <img class="globe" src="{{ "/" | relative_url  }}assets/images/globe.svg"/>
            </a>
          </div>
          <h1 class="p-name">{{ site.author }}</h1>
          <p>{{ site.description }}</p>
        </header>
      </section>
    </div>
    <section id="wrapper"{% if page.url == "/about/" %} class="bio"{% endif %}>
      <div align="center" class="intro">
        <p>I’m a Brazilian living in Aveiro, Portugal — and for the past nine years I’ve been designing <a href="https://sketch.com/">Sketch</a>, in Sketch.</p>
        <p>Since 2008, I have worked with numerous independent developers and organizations, including Paramount Pictures, Snowman, SproutCore, Acrylic, AppZapper, The Echo Nest, Taptivate, SuperMegaUltraGroovy, Vemedio, and many others to bring products to millions across Earth.</p>
        <br />
        <p>
          <a class="cta arrow-tr" href="&#109;&#097;&#105;&#108;&#116;&#111;&#58;s&#105;t&#101;&#064;m&#109;a&#114;&#102;&#105;&#108;&#046;c&#111;&#109;">Email</a> 
          <a class="cta arrow-tr " href="https://x.com/marcelomarfil">Twitter</a>
          <a class="cta arrow-tr " href="https://www.linkedin.com/in/marcelo-marfil">LinkedIn</a>
      </div>
    </section>
  </div>
</body>
</html>
