<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta content="{{ site.author }}" name="author">
  <meta content="{{ site.description }}" name="description">
  <meta property="og:description" content="Microblog" />
  <meta name="twitter:description" content="Microblog" />
  {% if page.image == null %}
  <meta property="og:image" content="{{ site.url}}/assets/images/OG.png" />
  <meta name="twitter:image" content="{{site.url}}/assets/images/OG.png" />
  {% else %}
  <meta property="og:image" content="{{ site.url}}/assets/images/posts/{{ page.image }}" />
  <meta name="twitter:image" content="{{ site.url}}/assets/images/posts/{{ page.image }}" />
  {% endif %}
  <meta name="twitter:card" content="summary" />
  <meta property="og:url" content="{{site.url}}" />
  <meta name="twitter:url" content="{{site.url}}" />
  <meta name="twitter:site" content="@MarceloMarfil" />
  {% if page.url == "/" %}
  <meta property="og:title" content="{{ site.title }}" />
  <meta name="twitter:title" content="{{ site.title }}" />
  <title>{{ site.title }}</title>
  {% elsif paginator %}
  <meta property="og:title" content="{{ site.title }} - Page {{ paginator.page }}" />
  <meta name="twitter:title" content="{{ site.title }} - Page {{ paginator.page }}" />
  <title>{{ site.title }} - Page {{ paginator.page }}</title>
  {% else %}
  <meta property="og:title" content="{{ site.title }} {% assign exist_or_not = page.title | size %} {% if exist_or_not < 1 %} - Status {% else %} - {{ page.title }} {% endif %}" />
  <meta name="twitter:title" content="{{ site.title }} {% assign exist_or_not = page.title | size %} {% if exist_or_not < 1 %} - Status {% else %} - {{ page.title }} {% endif %}" />
  <title>{{ site.title }} {% assign exist_or_not = page.title | size %} {% if exist_or_not < 1 %} - Status {% else %} - {{ page.title }} {% endif %}</title>
  {% endif %}
  <link href="{{ "/" | relative_url  }}assets/css/style.css" rel="stylesheet">
  <link href="{{ "/" | relative_url  }}assets/css/highlight.css"rel="stylesheet">
  <link rel="icon" type="image/png" href="{{ "/" | relative_url  }}assets/images/Favicon.png">
  <link rel="apple-touch-icon-precomposed" href="{{ "/" | relative_url  }}assets/images/Icon.png">
  <link href="{{ "/" | relative_url  }}feed.json" title="{{ site.title }}" type="application/json" rel="alternate">
  <link href="{{ "/" | relative_url  }}feed.xml" title="{{ site.title }}" type="application/rss+xml" rel="alternate">
  <link href="https://micro.blog/mmarfil" rel="me">
</head>
<body style="display: none">
  {% include navigation.html %}
  {% if page.profile %}
  {% include profile.html %}
  {% endif %}
  <section id="wrapper"{% if page.url == "/about/" %} class="bio"{% endif %}>
    {{ content }}
  </section>
  <footer id="footer">
    {% include footer.html %}
  </footer>
<script>
(function() {
  var button = document.querySelector('#subscribe');
  var menu = document.querySelector('#menu');
  button.addEventListener('click', function(e) {
    e.preventDefault();
    e.stopPropagation();
    menu.classList.toggle('show');
  });
  document.addEventListener("click", function(){
    menu.classList.remove('show');
  });
  })();
(function() {
  var button = document.querySelector('#subscribe-footer');
  var menu = document.querySelector('#menu-footer');
  button.addEventListener('click', function(e) {
    e.preventDefault();
    e.stopPropagation();
    menu.classList.toggle('show');
  });
  document.addEventListener("click", function(){
    menu.classList.remove('show');
  });
  })();
</script>
</body>
</html>
