---
layout: default
---

<article class="h-entry post">
  <header>
    <h1 class="p-name">{{ page.title }}</h1>
    <h2 class="headline">
      <time class="dt-published" datetime="{{ page.date }}">
        <a class="u-url dates" href="/{{ page.url | remove_first: '/' }}">{{ page.date | date:"%B %-d, %Y" }}</a>
      </time>
    </h2>
  </header>
  <section class="e-content post-body">
      {{content}}
  </section>
</article>
<section id="post-meta">
  <a href="/">
    <img class="avatar" src="{{ "/" | relative_url  }}assets/images/avatar.svg">
    <div>
      <span class="dark">{{ site.author }}</span>
      <span>{{ site.description }}</span>
    </div>
  </a>
  <div class="">
    <div class="menu-footer" id="menu-footer">
      <ul>
        <li><a href="https://mastodon.design/@marcelomarfil"><img class="icons" src="{{ "/" | relative_url  }}assets/images/icons/mastodon.svg"/> Mastodon</a></li>
        <li><a href="{{ "/" | relative_url  }}feed.xml"><img class="icons" src="{{ "/" | relative_url  }}assets/images/icons/feed.svg"/> RSS</a></li>
        <li><a href="{{ "/" | relative_url  }}feed.json"><img class="icons" src="{{ "/" | relative_url  }}assets/images/icons/feed.svg"/> JSON</a></li>
      </ul>
    </div>
    <a class="cta" id="subscribe-footer" href="#">Subscribe</a>
  </div>
</section>
